.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.logo {
  position: relative;
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(1);
  }
}
