.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #d20c08;
    color: #fff;
    width: 100%;
    font-size: 1.5rem;
  }
  
  .header h2 {
    font-size: 2.3rem;
    border-bottom: 1px solid #fff;
    width: fit-content;
    margin-bottom: 10px;
  }
  
  .footer {
    background-color: rgb(217, 217, 217);
    text-align: center;
    color: grey;
    padding: 10px 0;
    margin-top: 30px;
  }
  
  .footer a {
    text-decoration: none;
    color: rgb(69, 69, 69);
  }
  
  .container {
    min-height: 1000px;
  }
  
  @media (max-width: 600px) {
    .header {
      width: 320px;
    }
  }
  .backButton {
    background-color: #d20c08;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }